fastapi
uvicorn[standard]
pydantic
aiohttp
langchain
langchain-google-genai
langchain-community
langchain-pinecone
langchain-text-splitters
google-generativeai
PyMuPDF
crewai
pinecone-client
scikit-learn
numpy
python-dotenv
